#logo {
    color: white;
    display: inline-block;
    padding-right: 900px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

body {
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
    height: 100%;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    position: fixed;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: gray solid 0.5px;
}

.navbar a {
    font-family: Verdana;
    font-size: 90%;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 18px 18px 18px 18px;
}

.navbar a:hover:not(#logo) {
    color: #80ffaa;
    border-bottom: #80ffaa solid 2px;
}

.navbar a.active {
    color: #80ffaa;
    border-bottom: #80ffaa solid 2px;
}

.parallax {
    background-image: url('splash.jpeg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.AboutDiv {
    display: block;
    font-family: Verdana;
    height: 100%; 
    background-color: #1a1a1a;
    overflow: hidden;
    font-size: 25px;
    color: white;
    width: 100%;
}

h4 {
    text-align: center;
    padding-top: 50px;
}