h1 {
    font-family: system-ui;
    color: white;
    text-align: center;
    padding-top: 50px;
}

body {
    background-color: #333;  
}

.navbar {
    background-color: #333;
    text-align: center;
}

.navbar a {
    font-family: system-ui;
    display: inline-block;
    padding: 8px;
    color: white;
    text-decoration: none;
    padding: 18px 18px 18px 18px;
}

.navbar a:hover:not(.active) {
    background-color:  #111;
    border-bottom: white solid 2px;
}

.active {
    background-color:  #111;
    border-bottom: white solid 2px;
}